.movie-detail-spc{
display: flex;
justify-content: space-between;

padding: 10px 15px;

}

.movie-detail-page{
    
    width: 97%;
    
}
.movie-detail-page-summary{
    padding-bottom: 10px;
    padding: 10px
}



.mlistcon{
    display: grid;
    /* grid-template-columns:repeat(autofit,minmax(340px,1fr)) */
    /* grid-template-columns: 1fr 1fr 1fr;
     */
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
     gap: 10px;
     justify-items: center;
     
}
.mcon{
    width: 300px;
    height: 680px;
    
    box-shadow: rgba(100, 100, 111, 0.2) 10px 10px 29px 10px;

    /* background-color: red; */

}
.poster{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.mnr{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    align-items: center;
    /* background-color: red; */
   
}
.summary{

margin: 10px 10px;
/* background-color: red; */
padding-bottom: 10px;

}
.lbutton{
    display: flex;
    justify-content: start;
    
}

.inputcon{
    display: flex;
    flex-direction: column;
    gap: 10px;
padding-top: 65px;
width: 500px;

}
.inputcon-center{
    display: flex;
 justify-content: center;
 margin-top: 30px;

}
/* .infill{
    display: flex;
    flex-direction: row;
} */
 .tg{
    display: flex;
    align-items: center;
 }